<!-- extend base template -->
{% extends 'core/base.html' %}

<!-- title -->
{% block title %} Requests {% endblock %}

<!-- bread crumbs -->
{% block crumbs %} New Request {% endblock %}

<!-- content for the body -->
{% block content %}

<div>
    <form action="" method="post">
        {% csrf_token %}
        
        {{form.as_p}}

        <button type="submit" class="bg-blue-700 text-white px-3 py-2 rounded-md shadow-md text-lg" >Submit Request</button>
    </form>
    
</div>

{% endblock %}
